name: Code Coverage (Windows Runner)

on:
  workflow_dispatch:

jobs:
  CodeCoverage-Windows:
    runs-on: windows-latest

    steps:

      # - name: Setup WSL
      #   uses: Vampire/setup-wsl@v6
      #   with:
      #     distribution: Ubuntu-24.04

      - name: Switch to WSL
        shell: cmd
        run: |
          docker info
          cd
          cd "C:\ProgramData\Docker"
          dir DockerCli.exe /s
          DockerCli.exe -SwitchLinuxDaemon

      - name: Start SQL Server
        run: |
          docker run -itd --network host --name MSSQL `
            -p 1433:1433 `
            -e "MSSQL_SA_PASSWORD=${{ secrets.TESTDB_PASSWORD }}" `
            -e "ACCEPT_EULA=Y" `
            ghcr.io/openentity/adventureworksltdb:mssql2022

      - name: Start Postgres
        run: |
          docker run -itd --network host --name Postgres `
            -p 5432:5432 `
            -e "POSTGRES_USER=admin" `
            -e "POSTGRES_PASSWORD=${{ secrets.TESTDB_PASSWORD }}" `
            ghcr.io/openentity/adventureworksltdb:postgres18

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        env:
          OpenEntity_MSSQL_Server: "."
          OpenEntity_MSSQL_Password: "${{ secrets.TESTDB_PASSWORD }}"
          OpenEntity_Postgres_Server: "localhost"
          OpenEntity_Postgres_User: "admin"
          OpenEntity_Postgres_Password: "${{ secrets.TESTDB_PASSWORD }}"

        run: dotnet test --coverage --coverage-output-format cobertura --coverage-output coverage.cobertura.xml --coverage-settings CodeCoverage.runsettings
