name: Code Coverage (Windows Runner)

on:
  workflow_dispatch:

jobs:
  CodeCoverage-Windows:
    runs-on: windows-latest

    steps:

      - name: Setup MSSQL AdventureWorksLT Database
        uses: openentity/setup-adventureworksltdb-mssql@v1
        with:
          sa-password: "${{ secrets.TESTDB_PASSWORD }}"

      # - name: Setup Postgres
      #   uses: openentity/setup-postgres@v8
      #   with:
      #     username: admin
      #     password: "${{ secrets.TESTDB_PASSWORD }}"
      #     postgres-version: "18"
      #   id: postgres  

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        env:
          OpenEntity_MSSQL_Server: "."
          OpenEntity_MSSQL_Password: "${{ secrets.TESTDB_PASSWORD }}"
          OpenEntity_Postgres_Server: "localhost"
          OpenEntity_Postgres_User: "admin"
          OpenEntity_Postgres_Password: "${{ secrets.TESTDB_PASSWORD }}"

        run: dotnet test --coverage --coverage-output-format cobertura --coverage-output coverage.cobertura.xml --coverage-settings CodeCoverage.runsettings
